.about {
  display: flex;
  justify-content: center;
  align-items: center;

}

.about .description {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .description h1 {
  margin-bottom: 10px;
  font-size: 36px;
  text-align: center;
}

.about .description p {
  font-size: 20px;
  text-align: center;
}

.text-description {
  width: 100%;

  @media (min-width: 700px) {
    width: 60%;
  }
}

.about .photo {
  flex: 1;
  padding: 18px;
}

.about .photo img {
  width: 350px;
  height: 525px;
}
