.project-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    max-width: 650px;
    position: static;

}

.project-name {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #e7d9ea;
    font-size: 36px;
    text-align: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.carousel-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}

.carousel-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px;
    text-align: center;
}

.carousel-item-content p {
    /*margin-bottom: 20px;*/
    margin: 0;
}

.carousel-item-content a {
    margin-top: 20px;
}

.carousel-item-content a Img {
    height: 150px;
    width: 150px;
}

.slide-up {
    transform: translateY(30px);
}
