body {
  background: var(--black-color);
  color: var(--text-color);
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #e7d9ea;
}
