/** {*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: #e7d9ea;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;

}

nav li {
    margin: 10px;
    text-align: center

}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    text-align: center

}


/*.row, .col {*/
/*  font-family: 'Poppins', sans-serif;*/
/*  font-size: 25px;*/
/*  color: #e7d9ea;*/
/*  background-color: black;*/
/*}*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;

}

.about .description {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .description h1 {
    margin-bottom: 20px;
    color: #e7d9ea;
    font-size: 36px;
    text-align: center;
}

.about .description p {
    color: #e7d9ea;
    font-size: 16px;
}

.about .photo {
    flex: 1;
    padding: 20px;
}

.about .photo img {
    width: 400px;
    height: 600px;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}


.contact {
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #e7d9ea;
    font-weight: 300;
    padding: 0;


}

footer {
    /*text-align: center;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 20px;
    color: #e7d9ea;
    margin-top: 16px;
}

/*p {*/
/*    color: #e7d9ea;*/
/*    margin-bottom: 1rem; !* add some spacing between paragraphs *!*/
/*    text-align: justify; !* justify the text to make it easier to read *!*/
/*}*/

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: backwards;

}

.input {
    border: none;
    border-bottom: 2px solid #198754;
    outline: none;
    box-shadow: none;
    background-color: black;

}

.input::placeholder {
    color: #198754;
}

.input:focus {
    background-color: black;
}

.input:not(:placeholder-shown) {
    color: grey;
    background-color: black;
}

@keyframes slide-up {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}
