@use "styles/global";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header a:hover {
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 10px;
  text-align: center

}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  text-align: center

}

li::placeholder {
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.footer-text {
  color: #e7d9ea;
  margin: 0;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation-name: slide-up;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: backwards;

}

.input {
  border: none;
  border-bottom: 2px solid #198754;
  outline: none;
  box-shadow: none;
  background-color: black;

}

.input::placeholder {
  color: #198754;
}

.input:focus {
  background-color: black;
}

.input:not(:placeholder-shown) {
  color: grey;
  background-color: black;
}

@keyframes slide-up {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
