
* {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e7d9ea;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: white;
}

/*.row, .col {*/
/*  font-family: 'Poppins', sans-serif;*/
/*  font-size: 25px;*/
/*  color: #e7d9ea;*/
/*  background-color: black;*/
/*}*/
.about {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #e7d9ea;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: 300;
    /*animation-name: slide-up;*/
    /*animation-duration: 1s;*/
    /*animation-delay: 0s;*/
    /*animation-fill-mode: backwards;*/
}

h1 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
}


.contact {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #e7d9ea;
    font-weight: 300;
    padding: 0;

}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    color: #e7d9ea;
    margin-bottom: 1rem; /* add some spacing between paragraphs */
    text-align: justify; /* justify the text to make it easier to read */
}

main {
    margin: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: backwards;

}

.input {
    border: none;
    border-bottom: 2px solid #198754;
    outline: none;
    box-shadow: none;
    background-color: black;

}

.input::placeholder {
    color: #198754;
}

.input:focus {
    background-color: black;
}

.input:not(:placeholder-shown) {
    color: grey;
    background-color: black;
}

@keyframes slide-up {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}
